@use "../abstracts/" as *;
.footer {
  background-color: $color-black;
  margin: 0 auto;
  padding: 4em 8em;

  @include desktop(l) {
    padding: 2em 6em;
  }

  @media only screen and (max-width: 53.062em) {
    padding: 2em 4em;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 2em;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 48.062em) {
    flex-direction: column;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: 48.062em) {
      margin-bottom: 1.5em;
    }

    @media only screen and (max-width: 31.25em) {
      flex-direction: column;
      gap: 0.5em;
      margin-bottom: 1.5em;
    }

    &-item {
    }

    &-link {
      color: $color-white;
      font-size: 2rem;
      transition: all 0.3s;
      position: relative;
      padding-bottom: 0.5em;

      @media only screen and (max-width: 79.625em) {
        font-size: 1.8rem;
      }

      @include desktop(md-port) {
        font-size: 1.6rem;
      }

      @include mobile(xl) {
        font-size: 2.2rem;
      }

      @media only screen and (max-width: 31.25em) {
        padding-bottom: 0;
      }

      @include mobile(xl) {
        font-size: 2.2rem;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        left: 50%;
        bottom: 0;
        background-color: $color-white;
        transition: all 0.2s;
      }

      &:hover::before {
        width: 100%;
        left: 0;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (max-width: 48.062em) {
      align-items: center;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: 48.062em) {
      align-items: center;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2em;

      @media only screen and (max-width: 48.062em) {
        margin-bottom: 1em;
      }
    }

    &__icon {
      @media only screen and (max-width: 79.625em) {
        width: 1.8em;
      }

      @media only screen and (max-width: 56.25em) {
        width: 1.4em;
      }

      @media only screen and (max-width: 43.75em) {
        width: 0.8em;
      }
    }
  }

  .copyright {
    @media only screen and (max-width: 89.375em) {
      font-size: 1.6rem;
    }
    @media only screen and (max-width: 79.625em) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: 79.625em) {
      font-size: 1.2rem;
    }

    @include mobile(xl) {
      font-size: 1.8rem;
    }
  }
}
